/* *{
    box-sizing:border-box;
}

.group{
    grid
} */
.group{
    display:grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    padding: 10px;
    
  }
  
  .box{
    display: inline-block;
    border: 1px solid black;
    padding: 0px 20px 20px 20px;
  }

  .bigL{
    float:left;
    font-size: 60px;
    margin-right:15px;
    margin-left:15px;

  }

  .imgR{
    float: right;
    padding-left:10px;
  }

  .box2{
    display:inline-block;
    border: 1px solid black; 
    margin-right:400px;
    margin-bottom:-120px;
    padding: 0px 20px 0px 20px;
  }

  .group2{
    border: 1px solid black;
    margin-top: 110px;
    margin-right:410px;
    margin-left:10px;
    padding-bottom: 10px;
  }

  .group2 h2{
    text-align: center;
    border:1px solid white;
    border-left-width: 20px;
    border-right-width: 20px;
    background-color: yellow;
  }

  .group2 p{
    padding-left: 20px;
    padding-right: 5px;
  }

  h1{
    padding-left:10px;
  }

  body{
    width: 80em;
  }

  header p{
    border:1px solid white;
    border-left-width: 10px;
    border-right-width: 410px;
    background-color: silver;
    text-align: end;
  }