
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(18,57,170);
background: linear-gradient(180deg, rgba(18,57,170,1) 0%, rgb(44, 47, 122) 49%, rgb(33, 59, 107) 78%, rgb(11, 31, 90) 100%);
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
h1 {
    
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 2.5em;
}

header h1{
    color: white;
}
.efni h1{
    position: relative;
    bottom: 200px;
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em;
}

.verkefni{
    font-family: 'Press Start 2P', cursive;

}
.main{   
    background-image:linear-gradient(rgb(177, 142, 54),rgb(179, 166, 126));
}

section p, section h3{
    margin:0;
    
}
header{
    height: 20vh; 
    min-height: 150px;
}
header p{
    color:yellow;
}
header h1,header a{
    position: relative;
    top:60px;
    bottom:5px;    
}
header nav,header p{
    text-align: right;  
    
    
}
header nav{
    word-spacing: 20px;;
}

.efri{
    min-height: 600px;
    height: 80vh;
    padding-top:20px;
}

.neðri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

ul{
    list-style-type: none;
}

.innermenu{            
    display: inline;
    
    margin:0;
    padding:10px 0px;
    background-color:#0063CC;
    
}

a:visited{
    color:rgb(202, 8, 8);
}

nav{
    color: white;
}
.efri a{
    display:inline;
    border-right:1px solid white;
    padding:10px 21.5px;;
    color:white;
    text-decoration: none;

}

.takki{
    color:white;
    position: fixed;
    right:100px;
    bottom:100px;
    padding:0 20px;
    background-color: rgb(226, 209, 209);
    border-radius:50%;
    border:2px solid white;
    font-size: 7vh;
    text-decoration: none;
}

a:active{
    color:black;
    background-color: yellow;
}
a:hover{
    text-decoration: none;
    background:rgb(142, 212, 37);
}

.copy{
    text-align: center;
    color: rgb(214, 200, 200);
}